body {
    background-color: #d2e9d2; /* Light Green Background */
    font-family: sans-serif;
}

header {
    background-color: #9eeed3; /* Medium Aqua Marine */
    padding: 1rem;
    text-align: center;
}
nav {
    display: flex;
    justify-content: center; 
    flex-wrap: wrap; 
    gap: 25px; 
    padding: 1rem 0;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center; /* Centra los elementos en el navbar */
    flex-wrap: wrap; /* Permite que los botones se muevan a la siguiente línea si no caben */
    gap: 25px; /* Espacio entre los botones */
    padding: 1rem 0;
    margin: 0;
    
}

nav li {
    display: inline-block;
    margin: 0 1rem;
}

nav a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    padding: 0.5rem 0.5rem;
    border: 1px solid rgb(15, 15, 15);
    border-radius: 5px;
    font-weight: bold; 
    font-size: 16px;

}
nav ul li {
    display: inline-block;
}

nav ul li a {
    text-decoration: none;
    color: rgb(0, 0, 0); /* Color del texto */
    padding: 0.5rem 0.5rem;
    border: 1px solid rgb(15, 15, 15); /* Borde del botón */
    border-radius: 5px; /* Bordes redondeados */
    font-weight: bold; 
    font-size: 16px;
    min-width: 150px;
    text-align: center;
    background-color: white; /* Fondo blanco */
}

nav ul li a:hover {
    background-color: #e0e0e0; /*cambio de color al pasar el mouse en el botor*/
}

main {
    padding: 1rem;
}

.welcome {
    text-align: center;
    margin-bottom: 2rem;
}

.card-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.card {
    background-color: white;
    border-radius: 10px;
    padding: 1rem;
    margin: 1rem;
    text-align: center;
    width: 20%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

.card h3 {
    margin-top: 0.5rem;
    font-size: 1.2rem;
}

.card p {
    margin-top: 0.25rem;
    font-size: 0.9rem;
}

.footer {
    display: flex;
    justify-content: space-around;
    margin-top: 2rem;
    padding: 1rem;
}

.follow-us ul, 
.contact-us ul, 
.about-us ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.follow-us li, 
.contact-us li, 
.about-us li {
    display: inline-block;
    margin: 0 1rem;
}

.follow-us li a img,
.contact-us li a img,
.about-us li a img {
    max-width: 30px;
    max-height: 30px;
}